 {% comment %}

{%- section 'contact_heading' -%}
{%- assign page_content = page.content -%}
{%- assign formId = 'contact_form_page' -%}
{%- if settings.show_map and settings.map != blank %}<style>.se_contact_map iframe {margin-bottom: 0;padding: 0;display: block;width: 100%;border: none;}</style><div class="se_contact_map">{{settings.map}}</div>{% endif -%}
<div class="container mt__100 mb__100">
  <div class="row fl_center">
      <div class="contact-form col-12 col-md-6 mb__20">
         {%- form 'contact', id: formId -%}
           {%- render 'form-status', form: form, form_id: formId -%}
           
           <h3 class="mb__20">{{ 'contact.form.title' | t }}</h3>
           <p>
               <label for="{{ formId }}-name">{{ 'contact.form.name' | t }}</label>
               <input required="required" type="text" id="{{ formId }}-name" name="contact[name]" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
           </p>
           <p>
               <label for="{{ formId }}-email">{{ 'contact.form.email' | t }}</label>
               <input
                 required="required"
                 type="email"
                 id="{{ formId }}-email"
                 name="contact[email]"
                 autocorrect="off"
                 autocapitalize="off"
                 value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                 aria-required="true"
                 required="required"
                 {%- if form.errors contains 'email' -%}
                   class="input--error"
                   aria-invalid="true"
                   aria-describedby="{{ formId }}-email-error"
                 {%- endif -%}
                 >
               {%- if form.errors contains 'email' -%}
                 <span id="{{ formId}}-email-error" class="input-error-message"><i class="facl facl-attention cr mr__5"></i>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
               {%- endif -%}
            </p>

           {%- unless page_content contains 'no_phone' -%}
           <p>
           <label for="{{ formId }}-phone">{{ 'contact.form.phone' | t }}</label>
           <input type="tel" id="{{ formId }}-phone" name="contact[phone]" pattern="[0-9\-]*" value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}">
           </p>
           {%- endunless -%}
           
           <p>
           <label for="{{ formId }}-message">{{ 'contact.form.message' | t }}</label>
           <textarea rows="20" id="{{ formId }}-message" name="contact[body]" required="required">{% if form.body %}{{ form.body }}{% endif %}</textarea>
           </p>
           <input type="submit" class="button w__100" value="{{ 'contact.form.submit' | t }}">
         {%- endform -%}
      </div>
    {%- if page_content.size > 0 %}<div class="contact-content col-12 col-md-6">{{ page_content }}</div>{% endif -%}
  </div>
</div>
{% endcomment %}

<section class="contact-address-area">
    <div class="container">
        <div class="sec-title-style1 text-center max-width">
            <div class="title">Contact Us</div>
            <div class="text"><div class="decor-left"><span></span></div><p>Quick Contact</p><div class="decor-right"><span></span></div></div>
            <div class="bottom-text">
                <p>Fixyman is proud to be the name that nearly 1 million homeowners have trusted since 1996 for home improvement and repair, providing virtually any home repair.</p>
            </div>
        </div>
                <div class="contact-address-box row">
                    <!--Start Single Contact Address Box-->
                    <div class="col-sm-4 single-contact-address-box text-center">
                        <div class="icon-holder">
                            <span class="icon-clock-1">
                                <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span><span class="path9"></span><span class="path10"></span><span class="path11"></span><span class="path12"></span><span class="path13"></span><span class="path14"></span><span class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span><span class="path19"></span><span class="path20"></span>
                            </span>
                        </div>
                        <h3>Lorem Ipsum</h3>
                        <h2>Lorem Ipsum is simply dummy</h2>
                    </div>
                    <!--End Single Contact Address Box-->
                    <!--Start Single Contact Address Box-->
                    <div class="col-sm-4 single-contact-address-box main-branch">
                        <h3>Lorem Ipsum</h3>
                        <div class="inner">
                            <ul>
                                <li>
                                    <div class="title">
                                        <h4>Address:</h4>
                                    </div>
                                    <div class="text">
                                        <p>Lorem Ipsum, 40C, Lorem Ipsum dummy,<br> Lorem Ipsum, Ch 98054</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <h4>Ph & Fax:</h4>
                                    </div>
                                    <div class="text">
                                        <p>+123 456 789 <br> test@info.com</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="title">
                                        <h4>Office Hrs:</h4>
                                    </div>
                                    <div class="text">
                                        <p>Mon-Fri: 9:30am - 6:30pm<br> Sat-Sun: Closed</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--End Single Contact Address Box-->
                    <!--Start Single Contact Address Box-->
                    <div class="col-sm-4 single-contact-address-box text-center">
                        <div class="icon-holder">
                            <span class="icon-question-2">
                                <span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span>
                            </span>
                        </div>
                        <h3>Lorem Ipsum</h3>
                        <h2>Lorem Ipsum is simply dummy</h2
                    </div>
                    <!--End Single Contact Address Box-->
        </div>
    </div>
</section>  
<!--End Contact Address Area-->  
 
<!--Start contact form area-->
<section class="contact-info-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="contact-form">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="sec-title-style1 float-left">
                                <div class="title">Send Your Message</div>
                                <div class="text"><div class="decor-left"><span></span></div><p>Contact Form</p></div>
                            </div>
                            <div class="text-box float-right">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                            </div>
                        </div> 
                    </div>   
                    <div class="inner-box">
                        <form id="contact-form" name="contact_form" class="default-form" action="inc/sendmail.php" method="post">
                            <div class="row">
                                <div class="col-xl-6 col-lg-12">
                                    <div class="row">
                                        <div class="col-xl-6">
                                            <div class="input-box">   
                                                <input type="text" name="form_name" value="" placeholder="Name" required="">
                                            </div> 
                                             <div class="input-box"> 
                                                <input type="text" name="form_phone" value="" placeholder="Phone">
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                            <div class="input-box"> 
                                                <input type="email" name="form_email" value="" placeholder="Email" required="">
                                            </div>
                                            <div class="input-box"> 
                                                <input type="text" name="form_website" value="" placeholder="Website">
                                            </div> 
                                        </div>  
                                    </div> 
                                    <div class="row">
                                         <div class="col-xl-12">
                                            <div class="input-box"> 
                                                <input type="text" name="form_subject" value="" placeholder="Subject">
                                            </div>     
                                        </div> 
                                    </div>   
                                </div>
                                <div class="col-xl-6 col-lg-12">
                                    <div class="input-box">    
                                        <textarea name="form_message" placeholder="Your Message..." required=""></textarea>
                                    </div>
                                    <div class="button-box">
                                        <input id="form_botcheck" name="form_botcheck" class="form-control" type="hidden" value="">
                                        <button type="submit" data-loading-text="Please wait...">Send Message<span class="flaticon-next"></span></button>    
                                    </div>         
                                </div> 
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
